.container {
    width: 75%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    overflow: hidden;
    border-bottom: 3px solid #d0cccc;
}
.header{
    display: flex;
    position: relative;
    margin-bottom: 44px;
    flex-direction: row;
    justify-content: space-between;
}
.circleImage{
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    width: 150px;
    height: 150px;
}
.circleImage img{
    width:100%;
    height:100%;
    object-fit: cover;
}
.headerLeft{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
}

.headerRight{
    width: 590px;
    height: 224px;
    position: relative;
}
.ProfileName{
    display: flex;
    justify-content: space-around;
    vertical-align: center;
    align-items: center;
}
.ProfileEdit{
    vertical-align: center;
    border: 1px solid #a7a39d;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    padding: 5px 9px;
    text-align: center;
    text-transform: inherit;
    display: block;
    font-family: "Segoe UI";
}
.ProfileSetting{
    cursor: pointer;
}
.ProfileFriends{
    display: flex;
    justify-content: space-around;
    width: 590px;
    height: 24px;
    margin: 20px 0;
    padding: 0;
}
.ProfileFriend{
    font-size: 16px;
    margin-right: 40px;
    margin-left: 0;
    cursor: pointer;
}

.imagesBlock {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 75%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    overflow: hidden;
    justify-items: center;
    overflow: hidden;
    grid-row-gap: 30px;
}

.imagesBlock img {
    width: 289px;
    height: 289px;
    border: 1px solid gray;
    object-fit: cover;
}

