.inputBlock {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 20px;
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    gap: 30px;
    position: absolute;
    top:635px;
    left: 20px;
}

.inputBlock input  {
    border: none;
    outline: none;
    width: 398px;
    resize: none;
    overflow: auto;
}

.inputBlock button  {
    border:none;
    font-weight: 600;
    background-color: transparent;
    cursor: pointer;
    color: rgb(0, 149, 246);
}

.inputBlock svg {
    cursor: pointer;
}

.messageItems {
    height: 620px;
    background-color: rgb(195, 195, 195);
    padding-left: 20px;
    overflow-y: scroll;
}
.Messages {
    position: relative;    
}
