.container {
    width: 75%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}

.postContent{
    margin-left: 25%;
    width: 50% ;
    border-right: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
}

.postContent>textarea{
    padding-top: 15px;
    margin-left: 5%;
    margin-top: 5%;
    width: 89%;
    overflow: auto;
    resize: none;
    border: 0 none;
    height: auto;
    outline: none;
    font-size: 15px;
}

.postContent>hr{
    margin: 0 25px;
}

.postContent>button{
    margin-left: 68.5%;
    margin-top: 2.5%;
    margin-bottom: 3%;
    background-color: cornflowerblue;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
    color: white;
}
.containerPosts {
    margin-top: 3%;
    margin-left: 17%;
    width: 550px;
    display: flex;
    align-items: center;
    gap: 30px;
}
.containerPosts img {
    width: 60px;
    height: 60px;
}

.header{
    display: flex;
}

.header svg{
    margin-left: 415px;
    cursor: pointer;
}

.header h4{
    margin: 0;
}