.container {
    width: 75%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    
}

.containerPosts {
    display: flex;
    align-items: center;
    gap: 30px;
}
.containerPosts img {
    width: 60px;
    height: 60px;
}
