@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

.App {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}
.disable {
  display: none;
}

.body {
  min-height: 750px;
  width: 84%;
  float: right;
  background-color: rgb(249, 249, 249);
}

a {
  text-decoration: none;
}

.container {
  width: 75%;
  background-color: rgb(255, 255, 255);
  margin-left: auto;
  margin-right: auto;
  
}

.input{
  width: 372px;
  height: 64px;
  background: #FFFFFF;
  border: 1px solid white;
  box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);
  border-radius: 5px;
  padding-left: 50px;
  outline: none;
  
}

.wrapper_input {
  width: 540px;
  background-color: white;
}

.searchInput {
  width: 480px !important;
}


.cycleForInput {
  left: 15px;
  top: 30%;
  position: absolute;
  background: #FFFFFF;
  border: 1px solid #E3E4F1;
  border-radius: 50%;
  width: 24px;
  height:24px;
}

.btn{
  margin-left: 10px;
}
.buttons {
  position: absolute;
  background: none;
  right: 2px;
  top: 35%;
}

.buttons button {
  border: none;
  background: none;
  color: #494C6B;
}

.buttons select {
  border: none;
  background: none;
  outline: none;
  color: #494C6B;
  
}

.buttons select option {
  margin-left: 10px;
}