@import url('https://fonts.cdnfonts.com/css/sandbox');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

.App {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.body {
  min-height: 700px;
  width: 84%;
  float: right;
  background-color: rgb(249, 249, 249);
}

a {
  text-decoration: none;
}

.container {
  width: 75%;
  background-color: silver;
  margin-left: auto;
  margin-right: auto;
}