.containerUser {
    border-right: 1px solid rgb(219, 219, 219);
    overflow-y: scroll;
    padding-top: 10px;
}
.containerMessage {
    position: relative;
  
}

.containerDialogs {
    display: grid;
    grid-template-columns: 1fr 1.7fr;
    margin-top: 20px;
    border: 1px solid rgb(219, 219, 219);
    height: 690px;
    background-color: white;
}

.inputBlock {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 20px;
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    gap: 30px;
    position: absolute;
    top:635px;
    left: 20px;
}

.inputBlock input  {
    border: none;
    outline: none;
    width: 398px;
    resize: none;
    overflow: auto;
}

.inputBlock button  {
    border:none;
    font-weight: 600;
    background-color: transparent;
    cursor: pointer;
    color: rgb(0, 149, 246);
}

.inputBlock svg {
    cursor: pointer;
}

.messageItems {
    height: 620px;
    padding-left: 20px;
    overflow-y: scroll;
}
