.Nav {
    position: fixed;
    width: 16%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    border-right: 1px solid rgb(219, 219, 219);
}

.container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.title {
    font-family: 'Zen Dots', cursive;
    font-weight: 400;
    font-size: 2.5em;
    margin-left: 15px;
}

.ul {
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    gap: 30px;
    padding-left: 0;
}

.ul li {
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 1.1em;
    padding: 10px 0 10px 10px;
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
}

.ul li:hover{
    background-color: rgb(233, 233, 233);
    border-radius: 30px;
    
}

a{
    color: black;
}
.ul a.active {
    color: purple;
    
}
.signLi {
    margin-top: 50px;
}
